:root {
  /* Size */
  --side-padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 18px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* Font Family */
  --font-family: "Noto Sans KR", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 10px;
}

/* Header */
header .container #navbar {
  list-style: none;
  padding-left: 0;
  font-family: var(--font-family);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: auto;
  top: -84px;
  left: 0;
  background-color: white;
  position: fixed;
  display: flex;
  transition: top 0.4s;
  z-index: 1;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

header .container #navbar a {
  display: flex;
  color: black;
  margin: 0 100px;
  padding: 14px;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

header .container .navbar__toogleBtn {
  color: rgb(255, 181, 91);
  position: absolute;
  right: 0;
  padding: 0;
  z-index: 1;
  cursor: pointer;
  display: none;
}

header .container #navbar a:hover {
  color: rgb(255, 181, 91);
}

@media screen and (max-width: 1315px) {
  header .container {
    flex-direction: column;
    align-items: flex-start;
  }

  header .container #navbar {
    display: none;
    flex-direction: column;
    justify-content: center;
    top: 0;
    width: 100%;
    height: 100%;
    transition: visibility 0.3s, height 0.3s;
  }

  header .container #navbar a {
    width: 100%;
    height: auto;
    margin: 20px 0;
    justify-content: center;
  }

  header .container .navbar__toogleBtn {
    position: fixed;
    display: block;
    font-size: 30px;
    margin: 2% 2% 0px 0px;
    padding: 0;
    top: 0;
    background-color: white;
    padding: 5px 17px 8px;
    border-radius: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }

  header .container #navbar.active {
    display: flex;
  }
}

/* Main */

.main {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 240% 240%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main h1 span {
  position: relative;
  top: 20px;
  display: inline-block;
  animation: bounce 0.4s ease infinite alternate;
  font-family: "Titan One", cursive;
  font-size: 150px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
    0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
    0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

.main h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
.main h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
.main h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
.main h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
.main h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
.main h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
.main h1 span:nth-child(8) {
  animation-delay: 0.7s;
}
.main h1 span:nth-child(9) {
  animation-delay: 0.7s;
}
.main h1 span:nth-child(10) {
  animation-delay: 0.7s;
}
.main h1 span:nth-child(11) {
  animation-delay: 0.7s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
      0 50px 25px rgba(0, 0, 0, 0.2);
  }
}

.main h2 {
  display: none;
}

.main .job {
  display: flex;
  font-family: "Titan One", cursive;
  color: rgb(255, 181, 91);
  font-size: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.main .menubtn {
  display: flex;
  justify-content: center;
}

.main .menubtn button {
  margin: 0 20px;
  font-size: 20px;
  padding: 20px 30px;
  font-weight: 400;
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 10px;
  font-family: var(--font-family);
}

.main .menubtn button:hover {
  background-color: rgb(255, 181, 91);
}

a {
  padding-top: 60px;
}
a span {
  position: absolute;
  top: 82%;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid #fff;
  border-radius: 50px;
  box-sizing: border-box;
}

a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sdb 2s infinite;
  animation: sdb 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.main .scroll {
  position: absolute;
  bottom: 8%;
  top: 90%;
  color: white;
  font-size: var(--font-medium);
  font-family: var(--font-family);
  font-weight: 300;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .main {
    padding: 0;
  }
  .main h1 span {
    display: none;
  }

  .main h2 {
    display: flex;
    font-family: "Titan One", cursive;
    color: white;
    font-size: 70px;
    margin-bottom: 6%;
    margin-top: 8%;
  }

  .main .job {
    font-size: 40px;
    margin: 0;
  }

  .main .menubtn {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .main .menubtn button {
    margin-bottom: 24px;
  }

  .main a {
    padding-top: 0;
  }

  .main a {
    display: none;
  }

  .main .scroll {
    display: none;
  }
}

@media all and (min-width: 768px) and (max-width: 1315px) {
  .main {
    padding: 0;
  }

  .main h1 {
    display: none;
  }

  .main h2 {
    display: flex;
    font-family: "Titan One", cursive;
    color: white;
    font-size: 100px;
    margin-bottom: 10px;
  }

  .main .job {
    margin: 0;
    margin-bottom: 60px;
  }
}

/* About me */

.about-me {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.about-me .title {
  width: 1280px;
  height: 100%;
  margin: 120px auto 34px;
  display: flex;
  justify-content: left;
  font-family: "Titan One", cursive;
  font-size: 4rem;
  color: rgb(255, 181, 91);
}

.about-me .info {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.about-me .info img {
  width: 336px;
  height: auto;
  margin-right: 16px;
  border-style: solid dashed solid solid;
  border-color: rgb(255, 181, 91);
  border-width: 5px;
  border-radius: 16px;
}

.about-me .info .information {
  width: 978px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-style: solid solid solid dashed;
  border-color: rgb(255, 181, 91);
  border-width: 5px;
  border-radius: 16px;
  background-image: url("img/airplane.png");
  background-repeat: no-repeat;
  background-size: 260px 260px;
  background-position: 94% 50%;
}

.about-me .info .information_s {
  display: none;
}

.about-me .info .information .item1 {
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 2rem;
  justify-content: center;
}

.about-me .info .information .item1 .name {
  text-align: center;
  font-size: 24px;
}

.about-me .info .information .item1 .education {
  margin: 0px 0px 0px 80px;
  text-align: center;
  font-size: 24px;
}

.about-me .info .information .item1 .call {
  margin: 0px 0px 0px 80px;
  text-align: center;
  font-size: 24px;
}

.about-me .info .information .item2 {
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 600;
  font-size: 50px;
  justify-content: center;
}

.about-me .info .information .item2 .contents {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-font-smoothing: antialiased;
}

.about-me .skills {
  width: 1280px;
  margin: 80px auto 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about-me .skills .item3 {
  display: flex;
  justify-content: center;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 3rem;
  background-color: rgb(255, 181, 91);
  color: white;
  padding: 0%;
  margin: 0%;
  border-radius: 30px;
}

.about-me .skills .icons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0%;
  margin: 42px 0px 120px;
}

.about-me .skills .icons li {
  display: flex;
  justify-content: space-between;
}

.about-me .skills .icons li img {
  width: 100px;
  height: auto;
}

.about-me .skills_s {
  display: none;
}

@media screen and (max-width: 767px) {
  .about-me {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }

  .about-me .title {
    width: 100%;
    height: 100%;
    margin: 8% auto 6%;
    display: flex;
    justify-content: center;
    font-family: "Titan One", cursive;
    font-size: 5vw;
    color: rgb(255, 181, 91);
  }

  .about-me .info {
    width: 100%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10%;
  }

  .about-me .info img {
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 0%;
    margin-bottom: 1.5vw;
    border-style: solid;
    border-color: rgb(255, 181, 91);
    border-width: 3px;
    border-radius: 100%;
  }

  .about-me .info .information {
    display: none;
  }

  .about-me .info .information_s {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
    width: 100%;
  }

  .about-me .info .information_s .item1_s {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(255, 181, 91);
    border-width: 3px;
    border-radius: 16px;
    width: 550px;
    height: auto;
    padding: 5% 0%;
  }

  .about-me .info .information_s .item1_s .name_s {
    text-align: center;
    font-size: 2.2vw;
    font-weight: 500;
    margin-bottom: 6%;
  }

  .about-me .info .information_s .item1_s .education_s {
    text-align: center;
    font-size: 2.2vw;
    font-weight: 500;
  }

  .about-me .info .information_s .item1_s .call_s {
    text-align: center;
    font-size: 2.2vw;
    font-weight: 500;
    margin-top: 6%;
  }

  .about-me .info .information_s .item2_s {
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 3vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-style: solid solid solid dashed;
    border-color: rgb(255, 181, 91);
    border-width: 3px;
    border-radius: 16px;
    margin-left: 1vw;
    background-image: url("img/airplane.png");
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: 50% 50%;
    width: 300px;
  }

  .about-me .info .information_s .item2_s .contents_s {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  .about-me .skills {
    display: none;
  }

  .about-me .skills_s {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80%;
    height: auto;
    margin-top: 8%;
    margin-bottom: 1vh;
    flex-direction: column;
    background-color: rgb(255, 181, 91);
    color: white;
    font-family: "Titan One", cursive;
    font-size: 5vw;
    border-radius: 16px;
    margin: 4% 10% 11%;
  }

  .about-me .skills_s .item3_s {
    margin-top: 5%;
  }

  .about-me .skills_s .icons_s {
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin-top: 2%;
  }

  .about-me .skills_s .icons_s li {
    list-style: none;
  }

  .about-me .skills_s .icons_s li img {
    width: 14vw;
    padding: 0% 10%;
  }

  .about-me .skills_s .icons2_s {
    display: flex;
    flex-direction: row;
    padding: 0%;
    margin-top: 1%;
    margin-bottom: 8%;
  }

  .about-me .skills_s .icons2_s li {
    list-style: none;
  }

  .about-me .skills_s .icons2_s li img {
    width: 14vw;
    padding: 0% 10%;
  }
}

@media all and (min-width: 768px) and (max-width: 1315px) {
  .about-me {
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }

  .about-me .title {
    width: 100%;
    height: 100%;
    margin: 10vh auto 3vh;
    display: flex;
    justify-content: center;
    font-family: "Titan One", cursive;
    font-size: 5vw;
    color: rgb(255, 181, 91);
  }

  .about-me .info {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 0px 2%;
  }

  .about-me .info img {
    width: 25vw;
    height: auto;
    margin-right: 16px;
    border-style: solid dashed solid solid;
    border-color: rgb(255, 181, 91);
    border-width: 5px;
    border-radius: 16px;
  }

  .about-me .info .information {
    width: 978px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-style: solid solid solid dashed;
    border-color: rgb(255, 181, 91);
    border-width: 5px;
    border-radius: 16px;
    background-image: url("img/airplane.png");
    background-repeat: no-repeat;
    background-size: 19vh 19vw;
    background-position: 94% 50%;
  }

  .about-me .info .information_s {
    display: none;
  }

  .about-me .info .information .item1 {
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 500;
    font-size: 1.8vw;
    justify-content: center;
  }

  .about-me .info .information .item1 .name {
    text-align: center;
    font-size: 1.8vw;
  }

  .about-me .info .information .item1 .education {
    margin: 0px 0px 0px 10%;
    text-align: center;
    font-size: 1.8vw;
  }

  .about-me .info .information .item1 .call {
    margin: 0px 0px 0px 10%;
    text-align: center;
    font-size: 1.8vw;
  }

  .about-me .info .information .item2 {
    display: flex;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 3.6vw;
    justify-content: center;
  }

  .about-me .info .information .item2 .contents {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-font-smoothing: antialiased;
  }

  .about-me .skills {
    width: 100%;
    margin-top: 6vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 2%;
  }

  .about-me .skills .item3 {
    display: flex;
    justify-content: center;
    font-family: "Titan One", cursive;
    font-weight: 400;
    font-size: 4vw;
    background-color: rgb(255, 181, 91);
    color: white;
    padding: 0%;
    margin: 0%;
    border-radius: 30px;
  }

  .about-me .skills .icons {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0%;
    margin-top: 2.6vh;
  }

  .about-me .skills .icons li {
    display: flex;
    justify-content: space-between;
  }

  .about-me .skills .icons li img {
    width: 8vw;
    height: auto;
  }

  .about-me .skills_s {
    display: none;
  }
}
